*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding-top: 10rem;
}
#screen{
    width: 90%;
    height: 10rem;
    box-shadow:  0 0 8px brown,
    0 0 6px gray;
    border-radius: 2rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
input, button{
    width: 22rem;
    padding: .5rem;
}
button{
    height: 3rem;
    background-color: brown;
    border: none;
    border-radius: 20px;
    color: whitesmoke;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: .05rem;
    cursor: pointer;
    transition: .3s;
}
button:hover{
    background-color: rgb(240, 59, 59);
}
button:active{
    border: 2px solid black;
}
input{
    padding: 1rem;
    background-color: rgb(176, 176, 176);
    border: none;
    margin-top: .1rem;
    border-radius: 20px;
}